<!--
  templateType: page
  isAvailableForNewContent: true
  label: YoungLA Landing Page
-->
{% extends "./layouts/base.hubl.html" %} {% block body %}

<!-- Main Content Section -->
<div>
  {% dnd_area "main_content" label="Main Content" %} {% dnd_section %} {%
  dnd_column %} {% dnd_row %} {% dnd_module
  path="../components/modules/Carousel" %}{% end_dnd_module %} {% end_dnd_row %}
  {% end_dnd_column %} {% end_dnd_section %} {% end_dnd_area %}
</div>
<!-- Product List Section -->
<div id="product-section">
  {% module "product_list" path="../components/modules/ProductList" %}
</div>
<!-- Instagram Gallery Section -->
<div id="instagram-section">
  {% module "instagram_gallery" path="../components/modules/InstagramGallery" %}
</div>
{% endblock body %}
